<section class="TodoSection">
  <div class="TodoSection-Heading">
    <h3 class="TodoSection-Title"><%= title %></h3>
    <h5 class="TodoSection-Count"><%= todos.completed.count %>/<%= todos.count %></h5>
  </div>
  <ul class="TodoItems">
    <% todos.each do |todo| %>
      <% next if (hide_completed && todo.completed) %>

      <li class="TodoItem">
        <label class="TodoItem-Container">
          <%= form_with(url: todo_path(todo.id), method: 'put' ) do |form| %>
            <%= form.check_box :completed, {
              :class => 'TodoItem-Checkbox',
              :onClick => 'this.form.submit()',
              :checked => todo.completed
            } %>
          <% end %>
          <p class="TodoItem-Text <%= todo.completed ? 'TodoItem-Text--Completed' : '' %>">
            <%= todo.todo_text %>
          </p>
          <% if show_due == true %>
            <p class="TodoItem-Due"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <%= form_with(url: todo_path(todo.id), method: 'delete', class: 'TodoItem-Delete' ) do %>
            <%= image_submit_tag('/delete.svg', alt: 'Delete icon') %>
          <% end %>
        </label>
      </li>
    <% end %>
  </ul>
</section>
