<div class="Heading-Section">
  <h1 class="Heading"><%= @current_user.first_name %>'s Todo-list</h1>
  <%= link_to 'Logout', session_path(@current_user.id), class: 'Heading-Signout', method: 'delete' %>
</div>

<%= form_with(url: todos_path, method: 'post', class: 'AddTodo' ) do |form| %>
  <%= form.text_field :text, {:class => 'AddTodo-Text', :placeholder => 'What\'s next?', :required => true} %>
  <%= form.date_field :due, {:class => 'AddTodo-Date', :required => true} %>
  <%= form.submit 'Add', class: 'AddTodo-Add' %>
<% end %>

<%= render partial: 'todo-item', locals: {
  title: 'Overdue',
  todos: @todos.overdue,
  show_due: true,
  hide_completed: true
} %>
<%= render partial: 'todo-item', locals: {
  title: 'Due Today',
  todos: @todos.due_today,
  show_due: false,
  hide_completed: false
} %>
<%= render partial: 'todo-item', locals: {
  title: 'Due Later',
  todos: @todos.due_later,
  show_due: true,
  hide_completed: false
} %>
