<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Todo Manager App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
  </head>

  <body>
    <% if flash[:error] %>
      <div class="Flash-Error-Container">
        <h3 class="Flash-Error-Title"><%= flash[:title] %></h3>
        <p class="Flash-Error-Message"><%= flash[:error] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
